.upload-form {
    margin-bottom: 10px;
    text-align: center;
}

#editform {
    display: inline;
}

label {
    text-align: left;
    color: white;
}

.editFormItems {
    margin: 5px;
}

.edit-input {
    width: 300px;
    margin: 5px 0;
}
