/* Hamburger Design */
#menu-label {
    position: absolute;
    top: 1.1rem;
    left: 3.5rem;
    font-size: 16pt;
    color: rgb(228, 95, 95);
    font-weight: bold;
}

#menu-wrap {
    position: absolute;
    top: 11px;
    left: 205pt;
    z-index: 1;
    min-width: 120pt;
}

#menu-wrap .toggler {
    position: absolute;
    top: 11px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

#menu-wrap .hamburger {
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: none;
}

/* Hamburger Line */
#menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: rgb(228, 95, 95);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease
}

#menu-wrap .hamburger > div:before,
#menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
/* Moves lines down */
#menu-wrap .hamburger > div:after {
    top: 10px;
}
/* Toggler animate */
#menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg)
}
/* Turn lines into X */
#menu-wrap .toggler:checked + .hamburger > div:before,
#menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}
/* Rotate on hover when checked */
#menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg)
}

/* Menu, ul, and li Styling */
#menu-wrap .menu {
    width: 100%;
    height: 100%;
    visibility: hidden;
    text-align: left;
    padding: 10px;
}

#menu-wrap .menu > ul {
    padding: 0;
    margin: 0;
}

#menu-wrap .menu > ul > li {
    list-style: none;
    margin: .8rem .5rem 1.4rem;
}

/* Show Menu */
#menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

#menu-wrap .menu {
    visibility: hidden;
}

.checked {
    background: #fff;
    border: solid 4px rgb(249, 103, 103);
    border-radius: 8px;
}

.notChecked {
    background: none;
    border: none;
}

/* Toddler-Links Styling */
.toddler-links {
    background: white;
    color: rgb(228, 95, 95);
    border: solid 2px rgb(249, 103, 103);
    border-radius: 40px;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.toddler-links:hover {
    background: rgb(249, 103, 103);
    color: white;
}

/* MEDIA QUERIRES */
@media (max-width: 700px) {
    #sidebar {
        min-height: 0;
        top: 60px;
        left: 10px;
        padding: 5px;
    }

    #sidebar h3 {
        font-size: 1.5rem;
    }

    #sidebar a {
        border: solid 1.5px rgb(249, 103, 103);
        font-size: 10px;
        padding: 4px 10px;
        border-radius: 5px;
    }

}

@media (max-width: 600px) {
    #sidebar {
        top: 50px;
        background: none;
        border: none;
    }

    #sidebar ul {
    margin: 0;
    }

    #sidebar li {
        margin: 5px;
    }

    #sidebar h3 {
        display: none;
    }
}