#landing-header {
    background: -webkit-linear-gradient(rgb(251, 58, 58) , rgb(249, 147, 103));    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 4rem;
    opacity: 0.9;    
    margin: 38px 0 150px;
}

.register {
    background-color: rgb(249, 103, 103);
    background-image: linear-gradient(to right, rgb(247, 87, 87) , rgb(249, 147, 103));    
    color: white;
    padding: 15px 90px;
    border-radius: 40px;
    font-size: x-large;
    font-weight: bold;
    width: 100%;
}

.register:active {
    background-color: rgb(247, 87, 87)
}