#landing-header {
    background: -webkit-linear-gradient(rgb(169, 9, 9) , rgb(74, 38, 27));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 4rem;
    opacity: 0.9;    
    margin: 100px 0 150px;
}

.register {
    background-color: rgb(249, 103, 103);
    background-image: linear-gradient(to right, rgb(247, 87, 87) , rgb(249, 147, 103));    
    color: white;
    padding: 15px 90px;
    border-radius: 40px;
    font-size: x-large;
    font-weight: bold;
    width: 100%;
    box-shadow: 1.5px 2px 3px grey;
}

.register:active {
    background-color: rgb(249, 103, 103);
    background-image: linear-gradient(to right, rgb(247, 87, 87) , rgb(247, 87, 87));    
}

/* MEDIA QUERIES */
@media (max-width: 700px) {
    #landing-header {
        font-size: 2rem;
        margin-bottom: 80px;
    }
    
    .register{
        padding: 7.5px 45px;
        border-radius: 40px;
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    
}