
main {
    display: inline-block;
}

section {
    min-height: 320px;
    min-width: 450px;
    max-width: 550px;
    border-radius: 2%;
    text-align: center;
    padding: 50px;
}

.text {
    color: white;
    margin: 10px 0 5px;
}

a {
    text-decoration: none;
    font-size: 14px;
}

button {
    border-radius: 4px;
}