main {
    display: flex;
    justify-content: center;
}

section {
    min-height: 320px;
    min-width: 450px;
    max-width: 550px;
    border-radius: 2%;
    text-align: center;
    padding: 20px;
}

section > * {
    margin: 5px;
}

h3 {
    font-size: 22pt;
}  

a {
    text-decoration: none;
    font-size: 14px;
}

.cancel {
    border-color: white;;
    border: 1px solid #aaa;
    background-color: #eee;
    font-size: 1.1em;
    border-radius: 4px;
    padding: 8px 12px;
    font-weight: bold;
}

button {
    border-color: white;;
    border: 1px solid #aaa;
    background-color: #eee;
    font-size: 1.1em;
    border-radius: 4px;
    padding: 8px 12px;
    font-weight: bold;
}

.label {
    margin: 0 0 5px 2px;
}

.input-box {
    text-align: left;
    font-size: 1.1em;
}

input  {
    border: 1px solid #ddd;
    display: block;
    font-size: 1.1em;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    width: 100%;
    border-radius: 4px;
}

.required {
    color: #CA1551;
    font-family: Arial;
    font-weight: bold;
}

.about {
    text-align: left;
    font-size: 14pt;
    border-radius: 4px;
    padding: 5px;
}

.rating {
    font-size: 14pt;
}

.emoji {
    font-size: 35px;
}