#rating {
    color: white;
    margin-bottom: 20px;
}

#baby-pic {
    max-height: 350px;
    max-width: 250px;
    border-radius: 5px;
}

#about {
    margin-top: 10px;
    color: white;
    text-align: left;
}

.rating-button {
    margin: 10px;
    border-color: white;
    border-radius: 50%;
    padding-left: 12px;
}

.emoji {
    font-size: 30px;
}