.profile-container {
    background-color: white;
    color: #444;
    box-shadow: 1.5px 3px 5px grey;
    border-radius: 8px;
    width: 400px;
    padding-bottom: 5px;
    margin: 0 215px;
}

.baby-pic {
    width: 400px;
    height: 500px;
    object-fit: cover;
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 1.5px 3px 5px grey;
}

#babyprofilename {
    font-size: 22pt;
}

.name-age {
    text-align: left;
    padding: 10px;
    border-bottom: solid 0.5px lightgray;
}

.buttons {
    position: relative;
    right: 5px;
}

#cake {
    height: 30px;
    width: 30px;
    position: relative;
    top: 4px;
    right: 3px;
    margin-right: 5px;
}

#house {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.age {
    font-size: 26px;
    display: block;
}

.country {
    display: block;
}


.about {
    font-size: 14pt;
    text-align: left;
    padding: 15px 10px;
    border-bottom: solid 0.5px lightgray;
}

.rating {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

.rate-button {
    background-color: white;
    border-radius: 50%;
    border: none;
    box-shadow: 1.5px 2px 3px grey;
    margin: 5px;
}

.rate-icon {
    height: 50px;
    width: 50px;
    position: relative;
}

#dislike {
    top: 5px;
    left: .12px
}

#like {
    top: 2.5px;
    left: .2px;
}

#superlike {
    height: 50px;
    width: 50px;
    position: relative;
    left: 0.5px;
    right: 1.5px;
    bottom: 1.2px;
}

#superlikebutton {
    background-color: white;
    border-radius: 50%;
    border: none;
    box-shadow: 1.5px 2px 3px grey;
    margin: 5px;
}

 #superlikebutton:active {
    animation: heyjump .8s 1;
    transform: translateY(-10%)
}

.rate-labels {
    position: relative;
    right: 5px;
    margin: 0 17px;
    color: grey;
}

#superlike-label {
    position: relative;
    right: 12px;
}

#like-label {
    position: relative;
    right: 12px;
}

@keyframes heyjump {
    0%{transform: translateY(0px);}
    50%{transform: translateY(-25px);}
}

.rate-button:active {
    transform: translateY(2px);
}

/* MEDIA QUERIES */

@media (max-width: 700px) {

    .profile-container {
        width: 320px;
        margin: 0px;
    }

    .baby-pic {
        width: 320px;
        height: 350px;
    }

    .profile-container h3 {
        font-size: 18pt
    }

    #cake {
        height: 20px;
        width: 20px;
    }
    
    #house {
        height: 15px;
        width: 15px;
        margin-right: 10px;
        top: 0;
    }

    .age {
        font-size: 16px;
    }

    .country {
        font-size: 16px;
    }

    .about {
        font-size: 16px;
    }

    .rating {
        font-size: 20px;
    }

    .rate-icon {
        height: 25px;
        width: 25px;
    }

    #dislike {
        bottom: 5px;
    }

    #superlike {
        height: 25px;
        width: 25px;
        top: 1px;
    }

    .rate-labels {
        font-size: 12px;
        margin: 0 11px;

    }
}

@media (max-width: 500px) {
    #sidebar {
        top: 55px;
        left: 0;
        padding: 0;
    }
}

@media (max-width: 321px) {
    .profile-container {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }


}