.profile-container {
    background-color: white;
    color: #444;
    box-shadow: 1.5px 3px 5px grey;
    border-radius: 8px;
    width: 400px;
    padding-bottom: 10px;
    margin: 0 215px
}

.baby-pic {
    width: 400px;
    height: 500px;
    object-fit: cover;
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 1.5px 3px 5px grey;
}

.name-age {
    text-align: left;
    padding: 10px;
    border-bottom: solid 0.5px lightgray;
}

#cake {
    height: 30px;
    width: 30px;
    position: relative;
    top: 4px;
    right: 3px;
    margin-right: 5px;
}

#house {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.age {
    font-size: 26px;
    display: block;
}

.country {
    display: block;
}


.about {
    font-size: 14pt;
    text-align: left;
    padding: 15px 10px;
    border-bottom: solid 0.5px lightgray;
}

.rating {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

.rate-button {
    background-color: white;
    border-radius: 50%;
    border: none;
    box-shadow: 1.5px 2px 3px grey;
    margin: 5px;
}

.rate-icon {
    height: 50px;
    width: 50px;
    position: relative;
    right: 1.6px;
    top: 0.2px;
}

#dislike {
    top: 4px;
}

#like {
    top: 2px;
    left: .3px;

}

#superlike {
    height: 50px;
    width: 50px;
    position: relative;
    left: 0.5px;
    right: 1.5px;
    bottom: 1.2px;
}

#superlikebutton {
    background-color: white;
    border-radius: 50%;
    border: none;
    box-shadow: 1.5px 2px 3px grey;
    margin: 5px;
}

 #superlikebutton:active {
    animation: heyjump .8s 1;
    transform: translateY(-10%)
}

@keyframes heyjump {
    0%{transform: translateY(0px);}
    50%{transform: translateY(-25px);}
}

.rate-button:active {
    transform: translateY(2px);
}