header {
    position: relative;
    top: 60px;
}

h1 {
    text-align: center;
    color: rgb(140, 232, 249);
}

main {
    text-align: center;
}

#container {
    min-height: 400px;
    min-width: 200px;
    max-height: 500px;
    max-width: 500px;
    background-color: rgb(140, 232, 249);
    border-radius: 2%;
    text-align: center;
}

#login-form {
    color: white;
}
