h1, h2 {
    color: rgb(41, 177, 201);
}

h3 {
    color: white;
}

main {
    display: inline-block;
}

section {
    min-height: 320px;
    min-width: 450px;
    max-width: 550px;
    background-color: rgb(41, 177, 201);
    border-radius: 2%;
    text-align: center;
    padding: 50px;
}

#login-form {
    position: relative;
    top: 45%;
    color: white;
    margin: 10px;
}

.input-box {
    margin: 10px;
}

#login-button {
    margin: 10px;
}

.button {
    text-decoration: none;
    background-color: white;
    color: rgb(140, 232, 249);
    padding: 2px 4px;
    border-radius: 4%;
    margin-top: 10px;
    font-size: 15px;
}

.text {
    color: white;
    margin: 10px 0 5px;
}