nav {
    padding: 10px 40px;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #444;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 500;
    font-family: 'ProximaNova';
    color: white;
}

h2 {
    color: #444;
    font-size: 2rem;
    opacity: 0.9;
    margin: 0;
}

#title-logo {
    display: inherit;
}

#logo {
    position: relative;
    top: 8px;
    height: 45px;
    width: 40px;
    margin-right: 5px;
}

#todler {
    color: rgb(249, 103, 103);
}

.Header__not-logged-in a:last-child {
    background: white;
    color: rgb(249, 103, 103);
    border: solid 2px rgb(249, 103, 103);
    border-radius: 40px;
    padding: 8px 20px;
    border-radius: 5px;
    margin-left: 10px;
    /* font-size: large; */
    font-weight: bold;
}

.Header__not-logged-in a:last-child:hover {
    background: rgb(249, 103, 103);
    color: white;
}

.Header__logged-in a {
    background: white;
    color: rgb(228, 95, 95);
    border: solid 2px rgb(249, 103, 103);
    border-radius: 40px;
    padding: 8px 20px;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
}  

.Header__logged-in a:hover {
    background: rgb(249, 103, 103);
    color: white;
}