.header {
    padding: 5px 20px 2.5px;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

h1 {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 500;
    font-family: 'ProximaNova';
    color: rgb(255, 74, 74);
}

#title-logo {
    display: inherit;
}

#logo {
    position: relative;
    top: 8px;
    height: 45px;
    width: 40px;
    margin-right: 5px;
}

.title-hamburger {
    display: flex;
    align-items: center;
}

.Header__not-logged-in a:last-child {
    /* background: white;
    color: rgb(255, 74, 74);
    border: solid 2px rgb(255, 74, 74); */
    background: rgb(255, 74, 74);
    color: white;
    border: solid 2px rgb(255, 74, 74);
    border-radius: 40px;
    padding: 8px 20px;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
}

.Header__not-logged-in a:last-child:active {
    background: white;
    color: rgb(255, 74, 74);
    border: solid 2px rgb(255, 74, 74);
}

.Header__logged-in a {
    background: white;
    color: rgb(255, 74, 74);
    border: solid 2px rgb(255, 74, 74);
    border-radius: 40px;
    padding: 8px 20px;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
}  

.Header__logged-in a:last-child {
    background: rgb(255, 74, 74);
    color: white;
    border: solid 2px rgb(255, 74, 74);
}

.Header__logged-in a:hover {
    background: rgb(255, 74, 74);
    color: white;
}

.Header__logged-in a:last-child:active {
    background: white;
    color: rgb(255, 74, 74);
    border: solid 2px rgb(255, 74, 74);
}

/* MEDIA QUERIES */

@media (max-width: 700px) {
    .header {
        padding: 10px 20px;
    }

    h1 {
        font-size: 2rem;
        font-weight: 500;
    }

    #logo {
        position: relative;
        top: 6px;
        height: 24px;
        width: 22px;
    }

    
    .Header__not-logged-in a:last-child {
        border: solid 1.5px rgb(255, 74, 74);
        font-size: 10px;
        padding: 4px 10px;
        border-radius: 5px;
        margin-left: 10px;
    }

    .Header__logged-in a {
        border: solid 1.5px rgb(255, 74, 74);
        font-size: 10px;
        padding: 4px 10px;
        border-radius: 5px;
        margin-left: 10px;
    }  
}

@media (max-width: 400px) {
    .header {
        padding: 10px 10px
    }

    .Header__not-logged-in a:last-child {
        border: solid 1.5px rgb(255, 74, 74);
        font-size: 10px;
        padding: 4px 10px;
        border-radius: 5px;
        margin-left: 10px;
    }

    .Header__logged-in a {
        border: solid 1.5px rgb(255, 74, 74);
        font-size: 10px;
        padding: 2px 5px;
        border-radius: 5px;
        margin-left: 5px;
    }  

} 