#sidebar {
    background-color: whitesmoke;
    min-height: 200px;
    position: fixed; 
    top: 87px;
    left: 50px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid 5px rgb(228, 95, 95);
    padding: 10px;
}

h3 {
    display: inline;
    font-size: 22pt;
    color: rgb(228, 95, 95);
}

.toddler-links {
    background: white;
    color: rgb(228, 95, 95);
    border: solid 2px rgb(249, 103, 103);
    border-radius: 40px;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.side-bar-link a:hover {
    background: rgb(249, 103, 103);
    color: white;
}

/* MEDIA QUERIRES */
@media (max-width: 700px) {
    #sidebar {
        min-height: 0;
        top: 60px;
        left: 10px;
        padding: 5px;
    }

    #sidebar h3 {
        font-size: 1.5rem;
    }

    #sidebar a {
        border: solid 1.5px rgb(249, 103, 103);
        font-size: 10px;
        padding: 4px 10px;
        border-radius: 5px;
    }

}

@media (max-width: 600px) {
    #sidebar {
        top: 50px;
        background: none;
        border: none;
    }

    #sidebar ul {
    margin: 0;
    }

    #sidebar li {
        margin: 5px;
    }

    #sidebar h3 {
        display: none;
    }
}