* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url('/images/baby-background3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 100;
}

h1 {
  font-family: 'Lustria';
}

p {
  color: #555;
}

.blue {
  color: #477ACC;
}

.yellow {
  color: #EAC435;
}

.green {
  color: #09a55e;
}

.red {
  color: #CA1551;
}

.orange {
  color: #FB4D3D;
}

.width-100 {
  width: 100%;
}