* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url('/Users/lachlan/Projects/react-projects/ratemybaby/src/images/baby-background3.jpg') no-repeat center center fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #f15731;
  background-blend-mode: darken; */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 100;
}

h1 {
  font-family: 'Lustria';
}

p {
  color: #555;
}

.blue {
  color: #477ACC;
}

.yellow {
  color: #EAC435;
}

.green {
  color: #09a55e;
}

.red {
  color: #CA1551;
}

.orange {
  color: #FB4D3D;
}

.width-100 {
  width: 100%;
}