nav {
    /* min-height: 70px; */
    background-color: rgb(41, 177, 201);
    padding: 10px;
}

.nav-container {
    margin: auto;
}

.title {
    font-size: 30px;
    font-weight: bolder;
    color: white;
}


.nav-links {
    font-size: 22px;
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

