#sign-up-form {
    position: relative;
    top: 45%;
    color: white;
    margin: 10px;
}

#sign-up-button {
    background-color: white;
    color: rgb(99, 223, 245);
    padding: 2px 4px;
    border-radius: 4%;
    margin-top: 10px;
    font-size: 15px;
    text-align: right;
}

.container {
    margin-top: 24px;
}
