main {
    margin: 50px;
}

#container {
    background-color: rgb(140, 232, 249);
    border-radius: 2%;
    text-align: center;
    padding: 70px 0 25px;
}

#sign-up-form {
    position: relative;
    top: 45%;
    color: white;
    margin: 10px;
}

#sign-up-button {
    background-color: white;
    color: rgb(99, 223, 245);
    padding: 2px 4px;
    border-radius: 4%;
    margin-top: 10px;
    font-size: 15px;
    text-align: right;
}

label {
    font-size: 22px;
}

input {
    margin: 5px;
}

button {
    margin: 5px;
    background-color: white;
    color: rgb(99, 223, 245);
    padding: 2px 4px;
    border-radius: 4%;
    margin-top: 10px;
    font-size: 15px;
}
